APP_NAME=IP API
APP_TOKEN=7f3a9c2e-91ab-4c8d-bf21-9d8a7c5e1234
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB=ip_tracker
IPWHOIS_BASE_URL=https://ipwho.is
REDIS_URL=redis://localhost:6379/0

#Quando colocar no docker
#MONGODB_URL=mongodb://mongo:27017
##REDIS_URL=redis://redis:6379/0